body {
  background-color: #141414;
  color: #fff;
}

.headerDiv {
  padding: 60px;
  text-align: center;
  background-image: url("./images/movie_poster.jpg");
  justify-content: center;
}

header > h1 {
  color: rgb(252, 2, 2);
  font-size: 100px;
  font-weight: bold;
}

.movie > .row {
  overflow-x: auto;
}

.roundedInput {
  border-radius: 50px 50px 50px 50px;
}

.poster {
  height: 75%;
}
